<template>
  <div>
    <router-link to="/" exact>Home</router-link>
    ||
    <router-link to="/users">Users</router-link>
    ||
    <router-link to="/posts">Shared Posts</router-link>
    ||
    <router-link to="/admin">Admin</router-link>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data() {
      return {
//        userId: this.$store.getters.Users['id']
      }
    },
    computed: {
//      userId: this.$store.getters.Users['id']
    }
  }
</script>

<style>
</style>
