<template>
  <div>
    <h2>{{ msg }}</h2>
    <div class="block">
      <p>Users = 0 | Posts = 0 | Reports = 0</p>
    </div>
    <h4>All posts</h4>
    <div class="block w-700" v-for="post in Posts" :key='post.id'>
      <p>Post ID: {{ post.id }}</p>
      <br>
      <p>Title: {{ post.title }}</p>
      <p>Description: {{ post.title }}</p>
      <br>
      <p>Post likes = 0 | Post shares = 0 | Post reports = 0 |</p>
      <br>
      <router-link  :to="'post/' + post.id">View post</router-link> |
      <a href="#" @click="">Hide post</a> |
      <a href="#" @click="">Delete post</a>
    </div>
    <h4>All users</h4>
    <div class="block w-700" v-for="user in Users" :key='user.id'>
      <p>User ID: {{ user.id }}</p>
      <p>User Name: {{ user.name }}</p>
      <br>
      <p>User followers = 0 | User likes = 0 | User reports = 0 |</p>
      <br>
      <router-link  :to="'user/' + user.id">View user</router-link> |
      <a href="#" @click="">Ban user</a> |
      <a href="#" @click="">Delete user</a>
    </div>
    <h4>All reports</h4>
    <div class="block w-700" v-for="report in Reports" :key='report.id'>
      <p>ID: {{ report.id }}</p>
      <br>
      <p>Report Title: {{ report.title }}</p>
      <br>
      <p>Report Description: {{ report.description }}</p>
      <br>
      <router-link  :to="'report/' + report.id">View report</router-link> |
      <a href="#" @click="">Delete report</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'admin',
  data () {
    return {
      msg: 'Admin Page',
    }
  },
  computed: {
    Posts() {
      return this.$store.getters.initPosts
    },
    Users() {
      return this.$store.getters.initUsers
    },
    Reports() {
      return this.$store.getters.initReports
    }
  }
}
</script>

<style scoped>

</style>
