<template>
  <div>
    <h2>{{ msg }}</h2>
    <br>
    <br>
    <h4>Recent all posted posts:</h4>
    <div class="block w-700" v-for="post in Posts" :key='post.id'>
      <p>ID: {{ post.id }}</p>
      <br>
      <p>Post Title: {{ post.title }}</p>
      <br>
      <p>Post Description: {{ post.description }}</p>
      <br>
      <p>posted by: {{ post.user }}</p>
      <br>
      <router-link  :to="'/post/' + post.id">View post</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      msg: 'Home Page'
    }
  },
  computed: {
    Posts() {
      return this.$store.getters.initPosts
    }
  }
}
</script>

<style scoped>

</style>
