<template>
  <div>
    <h2>{{ msg }} - {{ postId }}</h2>
    <br>
    <div class="links">
      <a href="#" @click="" title="Like this post">Like</a>= 0 |
      <a href="#" @click="" title="Follow this post">Follow</a>= 0 |
      <a href="#" @click="" title="Report this post">Report</a>= 0 |
      <a href="#" @click="" title="Share this post">Share</a>= 0 |
    </div>
    <div class="block w-700">
      <p>ID: {{ postId }}</p>
      <br>
      <p>Post title: {{ postP.title }}</p>
      <br>
      <br>
      <p>Post description: {{ postP.description }}</p>
      <br>
      <input type="text" placeholder="sum">  <a href="#" @click="">Pay post</a> |
      <a href="#" @click="">Hide post</a> |
      <a href="#" @click="">Delete post</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'post',
  data () {
    return {
      msg: 'Post Page',
      postId: this.$route.params.id,
    }
  },
  computed: {
    postP() {
      return true; // fetch data of selected post
    }
  }
}
</script>

<style scoped>

</style>