<template>
  <div>
    <h2>{{ msg }}</h2>
    <div class="block">
      <p>All shared posts = 0 | Page views = 0 |</p>
    </div>
    <div class="block w-700" v-for="post in sharedPosts" :key='post.id'>
      <p>ID: {{ post.id }}</p>
      <br>
      <p>Post Title: {{ post.title }}</p>
      <br>
      <p>Post Description: {{ post.description }}</p>
      <br>
      <p>posted by: {{ post.user }}</p>
      <br>
      <router-link  :to="'/post/' + post.id">View post</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sharedPosts',
  data () {
    return {
      msg: 'Shared Posts Page',
    }
  },
  computed: {
    sharedPosts() {
      return this.$store.getters.initPosts
    },
  }
}
</script>

<style scoped>

</style>
