<template>
  <div>
    <h2>{{ msg }} - {{ reportId }}</h2>
    <br>
    <div class="block">
      <p>Report - {{ reportId }}</p>
    </div>
    <div class="block w-700">
      <p>ID: {{ reportId }}</p>
      <br>
      <p>Report title: {{ reportP.title }}</p>
      <br>
      <br>
      <p>Report description: {{ reportP.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'report',
  data () {
    return {
      msg: 'Report Page',
      reportId: this.$route.params.id,
    }
  },
  computed: {
    reportP() {
      return true; // fetch data of selected report
    }
  }
}
</script>

<style scoped>

</style>