<template>
  <div>
    <h2>{{ msg }}</h2>
    <div class="block">
      <p>All users = 0 | Page views = 0 |</p>
    </div>
    <div class="block w-700" v-for="user in Users" :key='user.id'>
      <p>ID: {{ user.id }}</p>
      <br>
      <p>User Name: {{ user.name }}</p>
      <p>User Posts: {{ user.posts }}</p>
      <br>
      <router-link  :to="'/user/' + user.id">View user</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'users',
  data () {
    return {
      msg: 'Users Page',
    }
  },
  computed: {
    Users() {
      return this.$store.getters.initUsers
    },
  }
}
</script>

<style scoped>

</style>
