<template>
  <div>
    <h2>{{ msg }} - {{ userId }}</h2>
    <br>
    <div class="links">
      <a href="#" @click="" title="Like this user">Like</a>= 0 |
      <a href="#" @click="" title="Follow this user">Follow</a>= 0 |
      <a href="#" @click="" title="Report this user">Report</a>= 0 |
      <a href="#" @click="" title="Block this user">Block</a>= 0 |
    </div>
    <br>
    <h4>User posts</h4>
    <br>
    <div class="block w-700"  v-for="post in userPosts" :key='post.id'>
      <p>Post title: {{ post.title }}</p>
      <br>
      <p>Post description: {{ post.description }}</p>
      <br>
      <router-link  :to="'/post/' + post.id">View post</router-link>
    </div>
    <br>
    <hr>
    <br>
    <div class="block">
      <form @click.prevent="">
        <p>User create a new post here:</p>
        <br>
        <textarea name="" id="" cols="40" rows="20" placeholder="write new post"></textarea>
        <br>
        <button class="">Create post</button>
      </form>
    </div>

  </div>
</template>

<script>
export default {
  name: 'user',
  data () {
    return {
      msg: 'User Page',
      userId: this.$route.params.id
    }
  },
  computed: {
    userPosts() {
      return true; // fetch user data here
    }
  }
}
</script>

<style scoped>

</style>
