<template>
  <div id="app">
    <div id="header"><headerComp></headerComp></div>
    <div id="body"> <router-view/></div>
  </div>
</template>

<script>
  import Header from '@/components/header/header.vue'
  export default {
    name: 'app',
    components: { headerComp: Header }
  }
</script>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #496684;
  }
  #header {
    top: 0;
    clear: both;
    text-align: center;
    height: auto;
    width: 1200px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #94c7f9;
  }
  #body {
    min-height: 1150px;
    width: 1150px;
    padding: 20px;
    margin: 50px auto;
    border: 1px dotted #98cbfd;
  }
  h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 5px auto;
    padding: 10px;
    font-weight: bold;
    color: #36996c;
    background-color: aliceblue;
    border: 1px solid #318a61;
  }
  h1, h2, h3 {
    width: 450px;
    background-color: #c3c9cf;
  }
  h4, h5, h6 {
    width: 250px;
    background-color: aliceblue;
  }
  a:link {
    font-size: 16px;
    font-weight: 600;
    color: #3eb07d;
    margin: 10px;
    text-decoration: none;
  }
  a:hover {
    color: #389e70;
    text-decoration: underline;
  }
  .links {
    padding: 10px;
    background-color: #f4f4f4;
    width: 500px;
    margin: 0 auto;
  }
  button{
    margin: 5px;
    padding: 6px 15px;
    color: #71e2bc;
    background-color: azure;
    border: 1px solid #5ab496;

  }
  textarea {
    padding: 6px;
    border: 1px solid #5ab496;
  }
  input {
    width: 30px;
    height: 10px;
    padding: 2px;
    font-size: 11px;
  }
  .router-link-active {
    color: #456677;
    text-decoration: underline;
  }
  .block {
    display: block;
    overflow: hidden;
    width: 350px;
    height: auto;
    padding: 20px;
    margin: 25px auto;
    background-color: #f0f8ff;
    border: 1px solid #7fb2e6;
  }
  .w-700 {
    width: 700px;
    background-color: #ecf4fb;
  }
</style>
